{% extends "base.html" %}
{% block title %}{{titlehead}}{% endblock %}
{% block menu %}
	<div id="semiopaquemenu">
	<ul class="semiopaquemenu">
	<li><a href="/filmApplication/">Main Page</a></li>
	<li><a href="/filmApplication/movies/">Films</a></li>
	<li><a href="/filmApplication/actors/" class="selected">Actors</a></li>
	<li><a href="/filmApplication/directors/">Directors</a></li>
	<li><a href="/filmApplication/genres/">Genres</a></li>
	</ul><div class="bottombar"></div></div>
{% endblock %}
{% block content %}
	<div id="entry">
	<div id="entry_title">Actors:</div>
	{% if user.is_authenticated %}
    <div id="entry_content">
	    <div class="table">
		    <div class="row">
		        <div class="cell2">
		        </div>
		        <div class="cell1">
		    			<a class="miniboton negro" href="{% url 'filmApplication:actor_create' %}" >Add new actor!</a>
		        </div>
		    </div>
	    </div>
	</div>
    <div id="entry_separator"></div>
    {% endif %}
	{% for actor in actor_list %}
	    <div id="entry_subtitle"><a href="{% url 'filmApplication:actor_detail' actor.id %}">{{ actor.name }}</a></div>
	    <div id="entry_separator"></div>
	{% empty %}
		<div id="entry_subtitle">Sorry!</div>
		<div id="entry_content">No actor registered yet! You can add one.</div>
		<div id="entry_separator"></div>
	{% endfor %}
		<div id="entry_content">
		    <div class="table">
			    <div class="row">
			        <div class="cell2"></div>
			        <div class="cell1">
				        <a <a class="boton negro" href="javascript:history.back(-1);" title="Go back!" class="boton azul">Go back</a>
			        </div>
			    </div>
		    </div>
		</div>
		<div id="entry_footer"></div>
		</div>
{% endblock %}