{% extends "base.html" %}
{% block content %}
	<div id = "contingut">
		<h1>{{ actor.name }}</h1>
		{% if user.is_staff %}
			<p>
				<button id = "b3">
					<a href="{% url 'filmApplication:actor_edit' actor.id %}">
						Edit actor.
					</a>
				&nbsp;&nbsp;
				<button id = "b4">
					<a href="{% url 'filmApplication:delete_actor' actor.id %}">
						Delete Actor.
					</a>
				</button>
			</p>
		{% endif %}
		<h2>Information: </h2>
			<ol>
				<li type="disc"><p>Name: {{actor.name}}</p></li>
				<li type="disc"><p>Birth Year: {{actor.birthYear}}</p></li>
				<li type="disc"><p>Birth Place: {{actor.birthPlace}}</p></li>
				<li type="disc"><p>Nationality: {{actor.nationality}}</p></li>
			</ol>
		<br></br>
		<button id = "b2"> 
		    <p><a href="javascript:history.back(-1);" title="Go back!">Go back</a></p>
		</button>

		</br>

	</div>
{% endblock %}
{% block footer %}

{% endblock %}