{% extends "base.html" %}
{% block content %}
<h1>
	{{ actor.name }}
</h1>
{% if user.is_staff %}
	<p><a href="{% url 'filmApplication:actor_edit' actor.id %}"> Edit actor.</a></p>
	<p><a href="{% url 'filmApplication:delete_actor' actor.id %}"> Delete Actor.</a></p>
{% endif %}
<h2>Information: </h2>
	<ol>
		<li><p>Name: {{actor.name}}</p></li>
		<li><p>Birth Year: {{actor.birthYear}}</p></li>
		<li><p>Birth Place: {{actor.birthPlace}}</p></li>
		<li><p>Nationality: {{actor.nationality}}</p></li>

	</ol>
{% endblock %}
{% block footer %}
    <p><a href="/filmApplication/actors/">Go back!</a></p>
{% endblock %}