{% extends "base.html" %}
{% block content %}
	<div id = "contingut">
		<h1>DIRECTORS</h1>
	    <p>
	    	{% if user.is_authenticated %}
	    		<button id = "b1">
		    		<a href="{% url 'filmApplication:director_create' %} ">
		    			Add new director!
		    		</a>
		    	</button>
	    	{% endif %}
	    </p>
		<ul>
			{% for director in director_list %}
				<li>
					<a href="{% url 'filmApplication:director_detail' director.id %}">
						{{ director.name }}
					</a>
				</li>
			{% empty %}
				<li>No directors registered yet! You can add one </li>
			{% endfor %}
		</ul>
		<br></br>
		<button id = "b2"> 
		    <p><a href="/">Go back!</a></p>
		</button>
	</div>
{% endblock %}
{% block footer %}

{% endblock %}