{% extends "base.html" %}
{% block content %}
	<div style="position: fixed; height:100%; width:100%; margin: 0 auto; background-color:#008000; top: 155px; left: 50px; z-index: 2">	
		<h1>
			DIRECTORS
		</h1>

	    <p>
	    	{% if user.is_authenticated %}
	    		<button style="color: #FFF;font-weight: bold;font-size: 90%;cursor: pointer;background-color: #900;">
		    		<a href="{% url 'filmApplication:director_create' %} " style="text-decoration:none;color:black">
		    			Add new director!
		    		</a>
		    	</button>
	    	{% endif %}
	    </p>
		<ul>
			{% for director in director_list %}
				<li>
					<a href="{% url 'filmApplication:director_detail' director.id %}" style="text-decoration:none;color:black">
						{{ director.name }}
					</a>
				</li>
			{% empty %}
				<li>
					No directors registered yet! You can add one 
				</li>
			{% endfor %}
		</ul>
		<br>

		</br>
		<button style="color: #900;font-weight: bold;font-size: 90%;cursor: pointer;"> 
		    <p>
		    	<a href="/" style="text-decoration:none;color:black">
		    		Go back!
		    	</a>
		    </p>
		</button>
	</div>
{% endblock %}
{% block footer %}

{% endblock %}