{% extends "base.html" %}
{% block content %}
<h1>
	{{ director.name }}
</h1>
{% if user.is_staff %}
	<p><a href="{% url 'filmApplication:update'}"> Edit director.</a></p>
	<p><a href="{% url 'filmApplication:delete_director' director.id %}"> Delete director.</a></p>
{% endif %}
<h2>Information: </h2>
	<ol>
		<li><p>Name: {{director.name}}</p></li>
		<li><p>Birth Year: {{director.birthYear}}</p></li>
		<li><p>Birth Place: {{director.birthPlace}}</p></li>
		<li><p>Nationality: {{director.nationality}}</p></li>
	</ol>
{% endblock %}
{% block footer %}
    <p><a href="/filmApplication/directors/">Go back!</a></p>
{% endblock %}