{% extends "base.html"%}
{% load staticfiles %}

{% block content %}

    <script>
        $(function() {
            $.getJSON("{% static "nationalities.json" %}", {}, function (nationalities) {
                $("#id_nationality").autocomplete({
                    source: nationalities
                });
            });

            $("#id_birthPlace").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "meri10"
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_stateOrProvince").val(ui.item.stateOrProvince);
                        $("#id_country").val(ui.item.countryName);
                        $("#id_zipCode").val("");
                    }
                }
            });
        });
    </script>

	<div id = "contingut">
		<h1>CREATE / MODIFY</h1>

		<form method="post" enctype="multipart/form-data" action="">
		    {% csrf_token %}

		    <table>
		        {{ form.as_table }}

		    </table>
		    <input type="submit" value="SUBMIT"/>
		</form>
        <br> </br>
	    <button id = "b2">
		    <p><a href="javascript:history.back(-1);" title="Go back!">Go back</a></p>
		</button>
	</div>
{% endblock %}
