{% include 'base.css' %}
</style>
	<title>{% block title %}{{titlehead}}{% endblock %}</title>
</head>

<body>
<div id="container">
		    <div id="mainpic">
        	<h1>film<span class="lightblue">APPLICATION</span></h1>
          <h2>The library of your favorite movies</h2>
        </div>

		<h1>{{ pagetitle }}</h1>
		<p>{{  contentbody }}</p>
</div>
</body>

<div id="menu">
        	<ul>
     			<li class="active"><a href="http://127.0.0.1:8000/">Mainpage</a></li>
					<li><a href="/filmApplication/movies">AllMovies</a></li>
					<li><a href="/filmApplication/actors">Actors</a></li>
					<li><a href="/filmApplication/directors">Directors</a></li>


          </ul>
</div>