{% extends "base.html" %}
{% block title %}{{titlehead}}{% endblock %}
     {% block menu %}
	<div id="semiopaquemenu">
		<ul class="semiopaquemenu">
			<li><a href="/filmApplication/" class="selected">Main Page</a></li>
			<li><a href="/filmApplication/movies/">Films</a></li>
			<li><a href="/filmApplication/actors/">Actors</a></li>
			<li><a href="/filmApplication/directors/">Directors</a></li>
			<li><a href="/filmApplication/genres/">Genres</a></li>
		</ul>
		<div class="bottombar"></div>
	</div>
    {% endblock %}
{% block content %}



<div id="entry">
    <div id="entry_title">FilmApplication</div>
    <div id="entry_subtitle">The library of your favorite movies</div>
    <div id="entry_content">{{ pagetitle }}</div>
    <div id="entry_separator"></div>
    <div id="entry_content">{{  contentbody }}</div>
    <div id="entry_footer"></div>
</div>
{% endblock %}
