{% extends "base.html" %}
{% block content %}
    <div id = "contingut">
        <h1>{{ movie.name }}</h1>
        {% if user.is_staff %}
    	   <p>
                <button id = "b3"> 
                    <a href="{% url 'filmApplication:movie_edit' movie.id %}">
                        Edit movie
                    </a>
                </button>
                &nbsp;&nbsp;
                <button id = "b4">
        	        <a href="{% url 'filmApplication:delete_movie' movie.id %}">
                        Delete movie.
                    </a>
                </button>
            </p>
        {% endif %}

        <h2>Information: </h2>
        	<ol>
        		<li type="disc"><p>Title: {{movie.title}}</p></li>
        		<li type="disc"><p>Year: {{movie.year}}</p></li>
        		<li type="disc"><p>Duration: {{movie.duration}}</p></li>
        		<li type="disc"><p>Genre: {{movie.genre}}</p></li>
    	        <li type="disc"><p>Director:
                    <a href="{% url 'filmApplication:director_detail' movie.director.id %}" style="color:blue">
                        {{movie.director}}
                    </a>
                </p>
        		<p><li type="disc"><p>Actors:</p></li>
        				<ul>
        				{% for actor in movie.actors.all %}
        					<p>
                                <span property="actor">
                                    <a href="{% url 'filmApplication:actor_detail' actor.id %}" style="color:blue">
                                        {{actor.name}}
                                    </a>
                                </span></p>
        				{% endfor %}
        				</ul>
                    </p></li>
        	</ol>


        <h2>Reviews</h2>
        
        {% if movie.moviereview_set.all|length > 0 %}
        <span rel="aggregateRating">
            <p typeof="AggregateRating">
                Average rating <span property="ratingValue">{{ movie.averageRating|stringformat:".1f" }}</span>
                {% with movie.moviereview_set.all|length as reviewCount %}
                from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
                {% endwith %}
            </p>
        </span>


        <ul rel="review">
            {% for review in movie.moviereview_set.all %}
                <div style="border: 3px solid #FFF;width: 350px;">
                    {% if user == review.user %}
                	    <p>
                            <button id = "b3">   
                                <a href="{% url 'filmApplication:review_edit' review.id %}">
                                    Edit review.
                                </a>
                            </button>
                            &nbsp;&nbsp;
                            <button id = "b4">
                    	        <a href="{% url 'filmApplication:delete_review' review.id %}">
                                    Delete review.
                                </a>
                            </button>
                        </p>
                    {% endif %}
                
                        <p rel="reviewRating" typeof="Rating">
                            <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                            <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                            {% with RATING_CHOICES|last as best %}
                            <span property="bestRating" content="{{ best.0 }}"></span>
                            {% endwith %}
                        </p>
                        <p property="description">{{ review.comment }}</p>
                        <p>Created by <span property="author">{{ review.user }}</span> on
                        <span property="publishDate">{{ review.date}}</span></p>

                </div>
                &nbsp;
            {% endfor %}
        </ul>

        </span>
        {% endif %}
        
        <h3>Add Review</h3>
        <form action="{% url 'filmApplication:review_create' movie.id %}" method="post">
            {% csrf_token %}
                <textarea name="comment" id="comment" rows="4" style="width:500px; height:200px;">Write here a message.</textarea>
                <p>Rating:</p>
                <p>
            {% for rate in RATING_CHOICES %}
            <li id = "li1">
                <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />

                <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br /></li>
            {% endfor %}
            </p></br></br></br>
            <input type="submit" value="Add" />
        </form>
        <br></br>
        <button id = "b2"> 
            <p><a href="javascript:history.back(-1);" title="Go back!">Go back</a></p>
        </button>
    </div>
    {% endblock %}

{% block footer %}

{% endblock %}