{% extends "base.html" %}
{% block content %}
	<div id = "contingut">
		<h1>MOVIES LIST</h1>
	    <p>
	    	{% if user.is_authenticated %}
		    	<button id = "b1">	
		    		<a href="{% url 'filmApplication:movie_create' %}">
		    			Add new movie!
		    		</a>
		    	</button>
	    	{% endif %}
	    </p>
		<ul>
			{% for movie in movie_list %}
				<li>
					<a href="{% url 'filmApplication:movie_detail' movie.id %}">
						{{ movie.title }}
					</a>
				</li>
				{% empty %}
				<li> No movies registered yet! You can add one </li>
			{% endfor %}
		</ul>
		<br></br>
		<button id = "b2"> 
		    <p><a href="/">Go back!</a></p>
		</button>
	</div>
{% endblock %}

{% block footer %}
	
{% endblock %}