{% extends "base.html" %}
{% block content %}
	<div style="position: fixed; height:100%; width:100%; margin: 0 auto; background-color:#008000; top: 155px; left: 50px; z-index: 2">
		<h1>
			MOVIES LIST
		</h1>
	    <p>
	    	{% if user.is_authenticated %}
		    	<button style="color: #FFF;font-weight: bold;font-size: 90%;cursor: pointer;background-color: #900;">	
		    		<a href="{% url 'filmApplication:movie_create' %}" style="text-decoration:none;color:black">
		    			Add new movie!
		    		</a>
		    	</button>
	    	{% endif %}
	    </p>
		<ul>
			{% for movie in movie_list %}
				<li>
					<a href="{% url 'filmApplication:movie_detail' movie.id %}" style="text-decoration:none;color:black">
						{{ movie.title }}
					</a>
				</li>
				{% empty %}
				<li> 
					No movies registered yet! You can add one 
				</li>
			{% endfor %}
		</ul>
		<br>

		</br>
		<button style="color: #900;font-weight: bold;font-size: 90%;cursor: pointer;"> 
		    <p>
		    	<a href="/" style="text-decoration:none;color:black">
		    		Go back!
		    	</a>
		    </p>
		</button>
	</div>
{% endblock %}

{% block footer %}
	
{% endblock %}