{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div id="entry">
        <div id="entry_title">Create / Modify</div>
        <div id="entry_subtitle"></div>
        <div id="entry_content">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
        </div>
        <div id="entry_content">
                <div class="table">
                    <div class="row">
                        <div class="normalcell" style="text-align: center">Username:</div>
                        <div class="normalcell">{{ form.username }}</div>
                    </div>
                    <div class="row">
                        <div class="normalcell"style="text-align: center">Password:</div>
                        <div class="normalcell">{{ form.password }}</div>
                    </div>
                    <div class="row">
                        <div class="normalcell"></div>
                        <div class="normalcell"><input class="miniboton negro" type="submit" value="Login" />
                        <input type="hidden" name="next" value="/" /></div>
                    </div>
                </div>
        </div>
            <div id="entry_separator"></div>
            <div id="entry_content">
                <div class="table">
                    <div class="row">
                        <div class="normalcell">
                <a href="/register/" class="boton negro">
                    Register
                </a>
</div>
                        <div class="normalcell">
            <a class="boton negro" href="javascript:history.back(-1);" title="Go back!">Go back</a>
		</div>
                    </div>
                </div>
            </div>
            <div id="entry_footer"></div>
            </form>
        </div>
{% endblock %}
