{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}
    <div id="entry">
		<div id="entry_title">Create / Modify</div>
		<div id="entry_subtitle"></div>
		<div id="entry_content">
			<form method="post" action=".">
			    {% csrf_token %}
		    	<table>
		        	{{ form.as_table }}
				</table>
		    	<input type="submit" value="Register" class="miniboton negro"/>
			</form>
		</div>
		<div id="entry_content">
			    <div class="table">
				    <div class="row">
				        <div class="cell2"></div>
				        <div class="cell1">
				        	<a class="boton negro" href="javascript:history.back(-1);" title="Go back!" class="boton azul">Go back</a>
				        </div>
				    </div>
			    </div>
			</div>
			<div id="entry_footer"></div>
		</div>
{% endblock %}
