{% extends "base.html" %}
{% block title %} Registration Successful {% endblock %}
{% block content %}
	<div id="entry">
		<div id="entry_title">  Registration Successful </div>
		<div id="entry_content"> Thank you for registering in our filmApplication Web. We hope you enjoy your visit.</div>
		<div id="entry_separator"></div>
		<div id="entry_content"> <a class="boton negro" href="javascript:history.back(-1);" title="Go back!" class="boton azul">Go back</a>
		<div id="entry_footer"></div>
	</div>
{% endblock %}
