{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div id = "contingut">
        <form method="post" action=".">{% csrf_token %}
            <table border="0">
                <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
                <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
            </table>
            <input type="submit" value="Login" />
             <input type="hidden" name="next" value="/" />
        </form>
        <br>
        </br>
        <button id = "b2"> 
            <p>
                <a href="/register/" style="text-decoration:none;color:black">
                    Register
                </a>
            </p>
        </button>
        <button id = "b2"> 
		    <p>
		    <a href="javascript:history.back(-1);" title="Go back!">Go back</a>
		    </p>
		</button>
    </div>
{% endblock %}